body, html {
    height: 100vh;
}

body {
    background-color: rgb(247, 247, 187);
    margin: 0%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 10% 20% 50% 20%;
    grid-template-areas:

"sidebar header header"
"sidebar sect1 sect1"
"sidebar main main"
"sidebar footer footer"
}

aside {
    border: 4px solid rgb(245, 184, 94);
    border-radius: 25px;
    grid-area: sidebar;
    background-color: plum;
}

header{
    border: 4px solid rgb(245, 184, 94);
    border-radius: 25px;
    grid-area: header;
    background-color: pink;
}

section {
     border: 4px solid rgb(245, 184, 94);
    border-radius: 25px;
    grid-area: sect1;
    background-color:peachpuff;
}

main{
     border: 4px solid rgb(245, 184, 94);
    border-radius: 25px;
    grid-area: main;
    background-color: paleturquoise;
}
footer {
    border: 4px solid rgb(245, 184, 94);
    border-radius: 25px;
    grid-area: footer;
    background-color: palegoldenrod;
}
